<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"/>
  </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior1">
                    <serviceDebug />
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8089/MyService"
                        httpGetBinding="webHttpBinding" httpGetBindingConfiguration="" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior1" name="WCFServicios.ServiceProduct">
                <endpoint address="http://localhost:8089/MyService" binding="basicHttpBinding"
                    bindingConfiguration="" name="Http_EndPoint" contract="WCFServicios.IProduct" />
            </service>
        </services>
    </system.serviceModel>
</configuration>